# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objective**
- Some great languages used are python,R and Julia
- There are some great libraries like NumPy , Pandas and Matplotlib that can be used to undertake specific tasks
- Apache spark is a great open source tool for data scientists

# Some of the popular languages that Data Scientists use are
1. Python
2. R
3. Julia

# Common Data Science Libraries are listed below
 a. NumPy
 b. Pandas
 c. Matplotlib

# List of Data Science tools (open source)
|DS tools|
|---------|
|Apache Spark|
|Tensor Flow|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.
1. print(a+b)
2. print(a-b)
3. print(a*b)

### note - we will have to define variables i.e. a,b,c before running print command

### Below is an example of simlpe arithematic operation where there is a multiplication and the addition of two integers

In [5]:
a = 3
b = 4
c = 5

print ((a*b)+c)

17

### Below function will convert hours into minutes by dividing it by 60

In [6]:
a = 200
b = 60
print(a/b)

3.3333333333333335

## Author
Anurag Sharma